<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lego Collection</title>
  <link rel="stylesheet" href="/css/main.css" />

</head>

<body tabindex="-1">

  <%- include('partials/navbar',{page: ''}) %>

  <div class="container mx-auto p-4">


    <div class="hero bg-base-200 rounded-lg p-6">
      <div class="hero-content text-center ">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">Welcome</h1>

          <p class="py-6">Unleash your inner builder and embark on a fascinating journey through the colorful realm of Lego.</p>
      
          <a href="/lego/sets" class="btn btn-primary">Get Started Now</a>
        </div>
      </div>
    </div>

    <br />

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <div>

        <div class="card bg-base-100 shadow-xl">
          <figure>
            <img class="w-full" src="https://cdn.rebrickable.com/media/sets/001-1.jpg" alt="Lego set" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Gears</h2>
            <p>This set was released in America (USA/CAN) by Samsonite in 1965.</p>
            <div class="card-actions justify-end">
              <a href="/lego/sets/001-1" class="btn btn-primary">View</a>
            </div>
          </div>

        </div>
      </div>
      <div>

        <div class="card bg-base-100 shadow-xl">
          <figure>
            <img class="w-full" src="https://cdn.rebrickable.com/media/sets/028-1.jpg" alt="Lego Set" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Nursery Furniture</h2>
            <p>Classic Duplo set - create a nursery for your minis.</p>
            <div class="card-actions justify-end">
              <a href="/lego/sets/028-1" class="btn btn-primary">View</a>
            </div>
          </div>

        </div>
      </div>
      <div>

        <div class="card bg-base-100 shadow-xl">
          <figure>
            <img class="w-full" src="https://cdn.rebrickable.com/media/sets/03093-1.jpg" alt="Lego Set" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">The Race to Build It Board Game</h2>
            <p>Classic game - released in 1999</p>
            <div class="card-actions justify-end">
              <a href="/lego/sets/03093-1" class="btn btn-primary">View</a>
            </div>
          </div>

        </div>
      </div>
    </div>
</body>

</html>